/* Defining variable Recursive font face */
/* TODO: Add support for non variations */
@font-face { /* Regular */
  font-family: 'Recursive';
  src: url('/assets/fonts/Recursive/RecursiveMonoLnrSt-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face { /* Italic */
  font-family: 'Recursive';
  src: url('/assets/fonts/Recursive/RecursiveMonoCslSt-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face { /* Bold */
  font-family: 'Recursive';
  src: url('/assets/fonts/Recursive/RecursiveMonoCslSt-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face { /* Bold Italic */
  font-family: 'Recursive';
  src: url('/assets/fonts/Recursive/RecursiveMonoCslSt-BdItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

div.highlight {
  button {
    border-bottom: none;
    border-left: none;
  }
}

code, pre {
  font-family: "Recursive", monospace;
  .kn, .k {
    /* Enable bold italics for keywords */
    font-weight: bold;
    font-style: italic;
  }
}

.grid-centent {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

// applause-button

applause-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;

  .count-container {
    color: inherit;
  }
}

.utterances {
  max-width: 100%;
}

.giscus, .giscus-frame {
  width: 100%;
}

.giscus-frame {
  border: none;
}

.clap-count {
  @extend h4;
  color: var(--accent-color);
  display: none;

  svg {
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }

  .flat {
    fill: var(--body-bg);
  }

  .outline {
    fill: var(--accent-color);
  }
}



// .lead.aspect-ratio.sixteen-nine { 
//   border: 1px solid var(--border-color);
//   transition: border-color 500ms ease;
// }
