@font-face {  /* Regular */
  font-family: 'Recursive';
  src: url("../assets/fonts/Recursive/Recursive_VF_1.085.woff2") format("woff2-variations");
  font-variation-settings: "MONO" 1, "CASL" 0, "wght" 450;
  font-weight: normal;
  font-style: normal;
}

@font-face {  /* Bold */
  font-family: 'Recursive';
  src: url("../assets/fonts/Recursive/Recursive_VF_1.085.woff2") format("woff2-variations");
  font-variation-settings: "MONO" 1, "CASL" 1, "wght" 650;
  font-weight: bold;
  font-style: normal;
}

@font-face {  /* Italic */
  font-family: 'Recursive';
  src: url("../assets/fonts/Recursive/Recursive_VF_1.085.woff2") format("woff2-variations");
  font-variation-settings: "MONO" 1, "CASL" 1, "wght" 450, "slnt" -15;
  font-weight: normal;
  font-style: italic;
}

@font-face {  /* Bold Italic */
  font-family: 'Recursive';
  src: url("../assets/fonts/Recursive/Recursive_VF_1.085.woff2") format("woff2-variations");
  font-variation-settings: "MONO" 1, "CASL" 1, "wght" 650, "slnt" -15;
  font-weight: bold;
  font-style: italic;
}

.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

div.highlight {
  button {
    border-bottom: none;
    border-left: none;
  }
}

code, pre {
  font-family: "Recursive", monospace;

  .hljs-keyword, .hljs-title.function_, .hljs-title.class_ {
    font-style: italic;
    font-weight: bold;
  }
}

// applause-button

applause-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;

  .count-container {
    color: inherit;
  }
}

// .lead.aspect-ratio.sixteen-nine { 
//   border: 1px solid var(--border-color);
//   transition: border-color 500ms ease;
// }
